# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
dist/
build/

# Environment variables
.env
.env.*
!.env.example

# Java / Maven
target/
*.class

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variables
*.tfvars
*.tfvars.json

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Backup files
*.bak
*.backup